name: Run generate_files.py

on: push

jobs:
  runs:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Setup python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run script
        run: python generate_files.py
      - name: Check for changes
        id: check
        run: |
          status=$(git status -s)
          echo "::set-output name=status::$status"
      - name: Check
        run: echo ${{ steps.check.outputs.status }}
      - name: Commit files
        if: ${{ steps.check.outputs.status }}
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git status
          git commit -m "Auto updated from changes to nhsl.yml" -a
      - name: Push changes
        if: ${{ steps.check.outputs.status }}
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}